<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dos IDE</title>
    <link rel="stylesheet" href="/Css/codemirror.css">
    <link rel="stylesheet" href="/Css/dracula.css">
    <link rel="stylesheet" href="/Css/bootstrap.css">
    <link rel="stylesheet" href="/Css/main.css">
</head>

<body>
    <div class="area">
        <h1><%=data%></h1>
        <textarea id="myTextarea" name="myTextarea"></textarea>
        <button onclick="ejecutar()">Boton</button>
    </div>
    <script src="/Js/codemirror.js"></script>
    <script src="/Js/Jquery.js"></script>
    <script src="/Js/bootstrap.js"></script>
    <script src="/Mode/javascript/javascript.js"></script>
    <script>
        var editor = CodeMirror.fromTextArea(myTextarea, {
            lineNumbers: true,
            mode: "javascript",
            theme: "dracula"
        });
    </script>
    <script> var exports = {}; </script>
    <script src="/Grammar/quadruplesGrammar.js"></script>
    <script src="/Arbol/AST.js"></script>
    <script src="/TablaSimbolo/Simbolo.js"></script>
    <script src="/TablaSimbolo/Tabla.js"></script>
    <script src="/Arbol/Asignacion.js"></script>
    <script src="/Arbol/Metodo.js"></script>
    <script src="/Arbol/Llamada.js"></script>
    <script src="/Arbol/Operacion.js"></script>
    <script src="/Arbol/AsignacionEstructura.js"></script>
    <script src="/Arbol/AccesoEstructura.js"></script>
    <script src="/Arbol/Print.js"></script>
    <script src="/Arbol/Identificador.js"></script>
    <script src="/Arbol/Primitivo.js"></script>
    <script src="/Arbol/Etiqueta.js"></script>
    <script src="/Arbol/SaltoCondicional.js"></script>
    <script src="/Arbol/SaltoIncondicional.js"></script>
    <script src="/Ejecucion4D.js"></script>
</body>

</html>